link(rel='import', href='../bower_components/polymer/polymer.html')
link(rel='import', href='../bower_components/polymer-grid-layout/polymer-grid-layout.html')
link(rel='import', href='../bower_components/polymer-ui-sidebar/polymer-ui-sidebar.html')
link(rel='import', href='../bower_components/polymer-ui-sidebar-menu/polymer-ui-sidebar-menu.html')
link(rel='import', href='../bower_components/polymer-ui-menu-item/polymer-ui-menu-item.html')
link(rel='import', href='../bower_components/polymer-ui-submenu-item/polymer-ui-submenu-item.html')
link(rel='import', href='../bower_components/polymer-ui-tabs/polymer-ui-tabs.html')
link(rel='import', href='../bower_components/polymer-ui-toolbar/polymer-ui-toolbar.html')
link(rel='import', href='../bower_components/polymer-ui-icon-button/polymer-ui-icon-button.html')

polymer-element(name='polymer-demo',  attributes='')
  template
    style.
      polymer-ui-sidebar-menu {
        min-width: 20%;
      }

      footer div {
        border-style: inset;
        border-width: 2px;
        padding: 5px;
        padding-left: 10px;
        background-color: #dddddd;
        height: 25px;
      }

      /* styles for the custom element itself - lowest specificity
      :host { min-height: 100% !important;}  */
      /* 
      style if an ancestor has the different class
      :host(.different) { } 
      */

    polymer-grid-layout(layout='{{layout}}')

    polymer-ui-toolbar(class='animate')
      polymer-ui-icon-button(icon='menu', hidden?='{{hideMenuButton}}', on-tap='{{menuActionTap}}', active='{{menuActive}}')
      div(flex) Title
      polymer-ui-icon-button(icon='briefcase')
      polymer-ui-icon-button(icon='marker')
      polymer-ui-icon-button(icon='account')
      polymer-ui-icon-button(icon='dots')

    polymer-ui-sidebar-menu(label='Sidebar', v-flex)
      polymer-ui-menu-item(label='Item 1', icon='menu')
      polymer-ui-submenu-item(label='SubMenu 1', icon='settings')
        polymer-ui-menu-item(label='Item 1.1', icon='menu')
        polymer-ui-submenu-item(label='SubMenu 1.2', icon='settings')
          polymer-ui-menu-item(label='Item 1.2.1', icon='menu')
          polymer-ui-submenu-item(label='SubMenu 1.2.2', icon='settings')
            polymer-ui-menu-item(label='Item 1.2.2.1', icon='menu')
            polymer-ui-menu-item(label='Item 1.2.2.2', icon='menu')
            polymer-ui-menu-item(label='Item 1.2.2.3', icon='menu')
          polymer-ui-menu-item(label='Item 1.2.3', icon='menu')
        polymer-ui-menu-item(label='Item 1.3', icon='menu')
      polymer-ui-menu-item(label='Item 2', icon='menu')
      polymer-ui-menu-item(label='Item 3', icon='menu')
      polymer-ui-menu-item(label='Item 4', icon='menu')
      polymer-ui-menu-item(label='Item 5', icon='menu')

    div(v-flex)
      polymer-ui-tabs(selected='0')
        span One
        span Two
        span Three
        span Four
        span Five

      p.
        Ahab seized a loaded musket from the rack (forming part of most South-Sea-men's cabin furniture), and pointing it towards Starbuck, exclaimed: 'There is one God that is Lord over the earth, and one Captain that is lord over the Pequod.—On deck!'

    footer
      polymer-flex-layout
      div(flex) This is a footer
      div(flex) Section 2
      div(flex) Section 3

  script.
    Polymer('polymer-demo', {
      //applyAuthorStyles: true,
      //resetStyleInheritance: true,

      // element is fully prepared
      ready: function(){
        this.layout = [[1,1,1],
                       [2,3,3],
                       [4,4,4]];
      },
      // instance of the element is created
      created: function() { },
      // instance was inserted into the document
      enteredView: function() { },
      // instance was removed from the document
      leftView: function() { },
      // attribute added, removed or updated
      attributeChanged: function(attrName, oldVal, newVal) { }
    });
